@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");

@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

/*--------------------------------
RESET
---------------------------------*/
* {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*--------------------------------
GLOBAL
---------------------------------*/

p {
  color: #767676;
  line-height: 23px;
  font-family: "Nunito", sans-serif;
}

.btn {
  color: #fff;
  padding: 10px 20px;
  font-size: 11px;
  /* letter-spacing: 3px; */
  font-weight: 500;
  background-color: #daa37f;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
}

.btn--opacity {
  animation: opacity 3s;
}

.sect {
  padding: 130px 0;
}
.sect--brown {
  background-color: #1d140b;
}

.sect--grey {
  background-color: #ebebeb;
}

.sect--no-bottom {
  padding-bottom: 0;
}

.sect--white-text {
  color: #fff;
}
.col--inbl {
  display: inline-block;
  float: none;
}
.row--center {
  text-align: center;
}
.row--small {
  max-width: 960px;
  margin: 0 auto;
}

.row--margin {
  margin-top: 65px;
}
.row--small h1{
    font-size: 20px;
    position: relative;
    top: -37px;
}
/*--------------------------------
ANIOMATION
---------------------------------*/
@-webkit-keyframes banner-in {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@-moz-keyframes banner-in {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@-o-keyframes banner-in {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes banner-in {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--------------------------------
BANNER
---------------------------------*/
.banner {
  background-image: url("../img/Homepage/pick2.png");
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  animation: banner-in 2s;
}

.banner__container {
  display: table-cell;
  vertical-align: middle;
}

.banner__scroll-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -12px;
  cursor: pointer;
  animation: opacity 3s;
}

.banner__title {
  font-size: 56px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  animation: opacity 3s;
}

.banner__text {
  font-size: 14px;
  color: #fff;
  margin: 0;
  margin-bottom: 18px;
  animation: opacity 3s;
}

/*--------------------------------
TYPE OF MEAT
---------------------------------*/
.sect--type {
  background-image: url("../img/Homepage/pick7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.sect__title {
  margin-top: 16px;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 20px;
}

.sect__subtitle {
  margin-bottom: 0;
}

.coffee {
  padding: 0 25px;
  width: 18%;
  display: inline-block;
}

.coffee__name {
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
}

.coffee__img {
  width: 112%;
  height: 138px;
  border-radius: 20px; 
}

.coffee__descr {
  margin: 0;
  line-height: 23px;
}

/*--------------------------------
SEAFOOD
---------------------------------*/

.seafood-img {
  background-image: url("../img/Homepage/seafood.png");
  height: 0;
  padding-bottom: 52%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d140b;
}

/*--------------------------------
2 HALF SECTION 
---------------------------------*/
.half-sect__second {
  background-image: url("../img/Homepage/pick4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.half {
  width: 50%;
  display: table-cell;
  background-color: #fff;
}

.half-sect__first {
  padding: 150px;
  background-color: #fff;
}

.description__p {
  margin-bottom: 40px;
}

.description__title {
  margin-top: 0;
  margin-bottom: 15px;
}

/*--------------------------------
QUALITY
---------------------------------*/
.sect--great {
  background-image: url("../img/Homepage/pick3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fff;
}

/*--------------------------------
THE BEST SHOP
---------------------------------*/
.sect--best {
  background-image: url("../img/Homepage/pick5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 160px 0;
  background-color: #000;
}

.best__title {
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #daa37f;
}

.best__img {
  width: 50px;
}

.best--margin {
  margin-top: 20px;
  margin-bottom: 40px;
}

.best--bottom {
  margin-bottom: 40px;
}
/*--------------------------------
THREE IMAGES
---------------------------------*/
.three-img__img {
  height: 0;
  padding-bottom: 33.3%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.three-img {
  display: table;
  height: 33.3%;
  width: 100%;
}

.three-img--1 {
  background-image: url("../img/Homepage/cake.png");
  float: left;
  width: 33.3%;
}

.three-img--2 {
  background-image: url("../img/Homepage/drink.png");
  float: left;
  width: 33.3%;
}

.three-img--3 {
  background-image: url("../img/Homepage/service.png");
  float: left;
  width: 33.3%;
}

  /*--------------------------------
STORY
---------------------------------*/

.story-img {
  background-image: url("../img/Homepage/pick6.png");
  height: 0;
  padding-bottom: 52%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d140b;
}


/*--------------------------------
RESPONSIVE
---------------------------------*/

@media screen and (max-width: 1024px) {
  .sect {
    padding: 100px 0;
  }
  .row--margin {
    margin-top: 55px;
  }
  .banner__title {
    font-size: 54px;
  }
  .half-sect__first {
    padding: 100px;
  }
  .three-img__img {
    padding-bottom: 40%;
  }
  .sect--no-bottom {
    padding-bottom: 0px !important;
  }
  .footer__half {
    padding: 90px 120px;
  }
  .sect-t-footer {
    display: none;
  }
  .footer {
    position: relative;
  }
}

@media screen and (max-width: 991px) {
  .sect {
    padding: 80px 0;
  }
  .banner__title {
    font-size: 50px;
  }
  .row--margin {
    margin-top: 45px;
  }
  .coffee {
    padding: 0 15px;
  }
  .coffe__img {
    width: 100%;
  }
  .half-sect__first {
    padding: 80px;
  }
  .last-articles {
    margin-bottom: 30px;
  }

  .sect__title,
  .description__title,
  .footer__big-title {
    line-height: 38px;
    font-size: 28px;
  }
  .footer__half {
    padding: 60px 90px;
  }
}

@media screen and (max-width: 767px) {
  .banner__title {
    font-size: 48px;
  }
  .three-img {
    height: auto;
  }
  .sect {
    padding: 60px 0;
  }
  .row--margin {
    margin-top: 30px;
  }
  .coffee {
    margin-bottom: 30px;
  }
  .coffee__img {
    width: 35%;
  }
  .coffee__descr,
  .sect__subtitle {
    padding: 0 50px;
  }
  .sect__title,
  .description__title,
  .footer__big-title {
    line-height: 36px;
    font-size: 26px;
  }
  .half-sect__first {
    padding: 50px;
  }
  .article-pre {
    margin-bottom: 15px;
  }
  .footer__half {
    width: 100%;
    display: block;
    padding: 50px 50px;
  }
  .half-sect {
    display: block;
    height: auto;
  }
  .half {
    width: 100%;
    display: block;
  }
  .half-sect__second {
    padding-bottom: 60%;
  }
}

@media screen and (max-width: 480px) {
  .banner__title {
    font-size: 44px;
  }
  .sect {
    padding: 50px 0;
  }
  .sect__title,
  .description__title {
    line-height: 30px;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .sect__subtitle {
    padding: 0;
  }
  .coffee__img {
    width: 65%;
  }
  .coffee__descr,
  .sect__subtitle {
    padding: 0 15px;
  }
  .best--margin {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .row--margin {
    margin-top: 15px;
  }
  .best__img {
    width: 44px;
  }
  .best__title {
    margin-top: 15px;
  }
  .three-img__img {
    padding-bottom: 60%;
    width: 100%;
  }

  .footer__half {
    padding: 35px 35px;
  }
  .footer__desc {
    margin-bottom: 10px;
  }
}